.product-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(10px, 350px) minmax(1200px, 1fr) minmax(
      10px,
      350px
    );
  grid-template-rows: 100px;
  grid-auto-rows: auto;
  justify-items: center;
  margin-top: 100px;
}

.go-back-btn {
  grid-column: 2/3;
  height: 20px;
  justify-self: start;
  width: 145px;
  display: block;
  text-align: center;
  border: 2px solid var(--text);
  background-color: transparent;
  box-sizing: content-box;
  transition: 200ms;
  padding: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.go-back-btn:hover {
  transition: 300ms;
  background-color: var(--danger);
  border-color: transparent;
  color: white;
}

.product-content {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  margin-bottom: 200px;
}

.product_image-block {
  display: grid;
}

.product_image {
  display: block;
  width: 300px;
  height: 500px;
  justify-self: center;
  object-fit: contain;
}

.product_info {
  padding: 30px 20px;
  display: grid;
  align-content: start;
  row-gap: 25px;
  align-content: center;
}

.product_info-title {
  font-size: 20px;
}

.product_info-author {
}

.product_info-author > span {
  color: var(--btnhover);
}

.product_info-category > span {
  color: var(--btnhover);
}

.product_tags {
  display: flex;
  column-gap: 15px;
  flex-wrap: wrap;
}

.product_tag-item {
  color: var(--btnhover);
  display: inline;
  cursor: pointer;
}

.product_tag-item:hover {
  text-decoration: underline;
  color: var(--tags);
}

.product_add-to-cart {
  padding: 30px 20px;
}

.product_add-to-cart-price {
  font-size: 20px;
}

.product_page-btn {
  justify-self: start;
  width: 145px;
  display: block;
  text-align: center;
  border: 2px solid var(--text);
  background-color: transparent;
  box-sizing: content-box;
  transition: 200ms;
  padding: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.product_page-btn:hover {
  transition: 300ms;
  background-color: var(--btnhover);
  border-color: transparent;
  color: white;
}

.product_description {
  display: grid;
  row-gap: 25px;
  grid-column: 1/3;
  padding: 30px 0 0 150px;
}

.product_description-title {
  font-size: 28px;
}

.product_description-content {
  font-size: 16px;
}

@media only screen and (max-width: 1450px) {
  .product-wrapper {
    grid-template-columns: minmax(10px, 350px) minmax(1000px, 1fr) minmax(
        10px,
        350px
      );
  }
}

@media only screen and (max-width: 1100px) {
  .product-wrapper {
    grid-template-columns: 1fr;
    padding: 0 40px;
  }

  .go-back-btn {
    grid-column: 1/2;
  }

  .product-content {
    grid-column: 1/2;
  }
  .product_info-title {
    font-size: 18px;
  }
  .product_add-to-cart-price {
    font-size: 20px;
  }
  .product_description-title {
    font-size: 24px;
  }

  .product_description {
    grid-column: 1/3;
    justify-self: start;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .product_image {
    width: 150px;
    height: 320px;
  }

  .product_add-to-cart {
    grid-row: 2/3;
    grid-column: 3/4;
    align-self: center;
  }

  .product_info {
    grid-column: 2/4;
  }
}

@media only screen and (max-width: 555px) {
  .product_info-title {
    font-size: 16px;
  }
  .product_info-author {
    font-size: 14px;
  }
  .product_info-category {
    font-size: 14px;
  }

  .product_tags {
    font-size: 14px;
  }
  .product_add-to-cart-price {
    text-align: center;
    font-size: 20px;
  }
  .product_description-title {
    font-size: 22px;
  }

  .product_description-content {
    font-size: 14px;
  }

  .product_description {
    grid-row: 2/3;
    grid-column: 1/4;
    align-self: center;
    justify-self: center;
  }

  .product_add-to-cart {
    grid-row: 3/4;
    grid-column: 1/4;
    align-self: center;
    justify-self: center;
  }
}

@media only screen and (max-width: 470px) {
  .product_image-block {
    grid-column: 1/4;
  }
  .product_info {
    grid-row: 2/3;
    grid-column: 1/4;
    row-gap: 10px;
    padding: 0;
  }

  .product_add-to-cart {
    grid-row: 4/5;
  }

  .product_description {
    grid-row: 3/4;
  }

  .product_description-content {
    font-size: 13px;
  }
}
