.profile-navigation {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  justify-content: center;
  height: 120px;
  line-height: 120px;

  background-color: var(--banner);
}

.profile-nav-list {
  width: 600px;

  display: grid;
  grid-column: 2/3;
  justify-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  justify-items: center;
}
.myInfo-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  row-gap: 60px;
}

.myInfo-title {
  grid-column: 1/3;
  justify-self: center;
}

.myInfo_change_info-title {
  text-align: center;
}

.myInfo_change-info-form-container {
  width: 600px;
  justify-self: center;
  grid-column: 1/2;
  grid-row: 2/3;
}

.myInfo_save-changes-btn {
  width: 200px;
  height: 40px;
  line-height: 30px;
  justify-self: center;
  background-color: transparent;
  cursor: pointer;
  color: rgb(0, 0, 0);
  justify-self: center;
  margin-top: 20px;
  border: 2px solid black;
  transition: 200ms;
}

.myInfo_save-changes-btn:hover {
  background-color: var(--btnhover);
  color: white;
  transition: 0.3s;
  border-color: transparent;
}

.myInfo_change-password-form-container {
  width: 600px;
  justify-self: center;
  grid-column: 2/3;
  grid-row: 2/3;
}

@media only screen and (max-width: 1240px) {
  .myInfo-container {
    grid-template-columns: 1fr;
  }

  .myInfo-title {
  }

  .myInfo_change-info-form-container {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .myInfo_change-password-form-container {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

@media only screen and (max-width: 680px) {
  .myInfo_change-info-form-container {
    width: 500px;
  }

  .myInfo_change-password-form-container {
    width: 500px;
  }

  .profile-navigation {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .profile-nav-list {
    width: 500px;
    justify-content: center;
    grid-column: 1/2;
  }

  .myInfo-title {
    font-size: 20px;
  }

  .myInfo_change_info-title {
    font-size: 18px;
  }
}

@media only screen and (max-width: 500px) {
  .profile-nav-list {
    width: 400px;
    column-gap: 15px;
    font-size: 14px;
  }

  .myInfo_change-info-form-container {
    width: 400px;
  }

  .myInfo_change-password-form-container {
    width: 400px;
  }
}

@media only screen and (max-width: 410px) {
  .profile-nav-list {
    width: 300px;
    font-size: 12px;
    grid-template-columns: max-content max-content max-content;
    justify-content: space-around;
    column-gap: 0;
  }

  .myInfo_change-info-form-container {
    width: 300px;
  }

  .myInfo_change-password-form-container {
    width: 300px;
  }
}
